@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

$radius: 15px;

%burger {
  content: "";
  display: block;
  height: 20%;
  width: 100%;
  background-color: inherit;
  position: absolute;
  border-radius: 2px;
  transition: 0.2s;
}

@mixin line_max($count) {
  // Ограничение количества строк. Количество строк указывать в line-clamp и -webkit-line-clamp //
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-clamp: $count;
  -webkit-line-clamp: $count;
  text-overflow: ellipsis;
}
