@import "./scss.scss";

.sidebar {
  position: relative;
  width: 100%;
  transition: 0.6s ease-in-out;
  z-index: 10;
  @media (max-width: 650px) {
    & {
      position: fixed;
      top: 0;
      left: -100%;
      bottom: 0;
    }
    &-active {
      top: 0;
      left: 0;
      bottom: 0;
    }
  }
  &__wrapper {
    position: absolute;
    transition: 0.6s ease-in-out;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #333333;
    color: #fff;
    padding: 10px 15px;
    @media (max-width: 650px) {
      & {
        width: 100%;
        left: -100%;
        top: 0;
        bottom: 0;
      }
      &-active {
        left: 0;
        top: 0;
        bottom: 0;
      }
    }
  }
  .burger {
    height: 25px;
    width: 30px;
    cursor: pointer;
    position: fixed;
    left: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    transition: 0.4s;
    &-dark {
      background-color: #000000;
    }
    &-active .burger-dark {
      background-color: #fff;
    }
    &-light {
      background-color: #ffffff;
    }
    &-line {
      display: block;
      height: 20%;
      width: 100%;
      border-radius: 2px;
      transition: 0.4s;
      &::before {
        @extend %burger;
        top: 0;
      }
      &::after {
        @extend %burger;
        bottom: 0;
      }
    }
    &-active {
      .burger-line {
        border-radius: 20px;
        height: 15%;
        &::before {
          transform: rotate(-38deg) scale(0.7) translate(-11px, -1px);
          -webkit-transform: rotate(-38deg) scale(0.7) translate(-11px, -1px);
          -moz-transform: rotate(-38deg) scale(0.7) translate(-11px, -1px);
          border-radius: 20px;
        }
        &::after {
          border-radius: 20px;
          transform: rotate(38deg) scale(0.7) translate(-11px, 1px);
          -webkit-transform: rotate(38deg) scale(0.7) translate(-11px, 1px);
          -moz-transform: rotate(38deg) scale(0.7) translate(-11px, 1px);
        }
      }
    }
  }
  &__main {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    &_search {
      display: grid;
      align-items: center;
      grid-template-columns: 20px 1fr 20px;
      margin-left: 50px;
      grid-gap: 10px;
      background-color: #fff;
      padding: 10px 15px;
      color: #333333;
      border-radius: 100px;
      cursor: text;
      position: sticky;
      &-icon {
        line-height: 1;
        transition: 0.2s;
        svg {
          width: 20px;
          height: 20px;
          cursor: text;
        }
      }
      &-erase {
        display: flex;
        align-items: center;
      }
      &-input {
        border: none;
        width: 100%;
      }
    }
    &_list {
      display: grid;
      grid-auto-rows: 80px;
      margin-top: 20px;
      padding: 0 0px 20px 10px;
      overflow: auto;
      @media (max-width: 650px) {
        & {
          padding: 0px 0px 20px 0px;
        }
      }
    }
    &_item {
      display: grid;
      grid-template-columns: 80px 1fr;
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 10px 0;
      grid-template-areas:
        "cover name"
        "cover author";
      transition: 0.3s;
      &:hover {
        background-color: #ffffff50;
        cursor: pointer;
      }
      &_cover {
        grid-area: cover;
        padding: 10px;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      &_name {
        grid-area: name;
        align-self: end;
        padding: 0 5px;
        @include line_max(1);
        font-size: 1rem;
      }
      &_author {
        grid-area: author;
        align-self: start;
        padding: 0 5px;
        @include line_max(1);
        font-size: 0.8rem;
        letter-spacing: 0.8px;
      }
    }
  }
}
