@import "./scss.scss";

.sidebar {
  position: relative;
  width: 100%;
  transition: 0.4s ease-in-out;
  z-index: 10;
  @media (max-width: 700px) {
    & {
      position: fixed;
      top: 0;
      left: -100%;
      bottom: 0;
    }
    &-active {
      top: 0;
      left: 0;
      bottom: 0;
    }
  }
  &__wrapper {
    position: fixed;
    transition: 0.4s ease-in-out;
    left: -400px;
    width: 400px;
    height: 100%;
    background-color: #333333;
    color: #fff;
    display: grid;
    grid-template-columns: 70px 1fr;
    &-active {
      left: 0;
    }
    @media (max-width: 700px) {
      & {
        width: 100%;
        left: -100%;
        top: 0;
        bottom: 0;
      }
      &-active {
        left: 0;
        top: 0;
        bottom: 0;
      }
    }
  }
  .burger {
    height: 25px;
    width: 30px;
    cursor: pointer;
    position: fixed;
    left: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    transition: 0.4s;
    &-dark {
      background-color: #000000;
    }
    &-active .burger-dark {
      background-color: #fff;
    }
    &-light {
      background-color: #ffffff;
    }
    &-line {
      display: block;
      height: 20%;
      width: 100%;
      border-radius: 2px;
      transition: 0.4s;
      &::before {
        @extend %burger;
        top: 0;
      }
      &::after {
        @extend %burger;
        bottom: 0;
      }
    }
    &-active {
      .burger-line {
        border-radius: 20px;
        height: 15%;
        &::before {
          transform: rotate(-38deg) scale(0.7) translate(-11px, -1px);
          -webkit-transform: rotate(-38deg) scale(0.7) translate(-11px, -1px);
          -moz-transform: rotate(-38deg) scale(0.7) translate(-11px, -1px);
          border-radius: 20px;
        }
        &::after {
          border-radius: 20px;
          transform: rotate(38deg) scale(0.7) translate(-11px, 1px);
          -webkit-transform: rotate(38deg) scale(0.7) translate(-11px, 1px);
          -moz-transform: rotate(38deg) scale(0.7) translate(-11px, 1px);
        }
      }
    }
  }
  &__tabs {
    display: grid;
    grid-auto-rows: 70px;
    padding: 65px 0 15px;
    background-color: #000000;
    .tab-active {
      background-color: #333333;
      border: none;
    }
    &_item {
      border-right: 2px solid #000;
      border-top: 2px solid #000;
      border-bottom: 2px solid #000;
      background-color: #000000;
      cursor: pointer;
      width: 100%;
      display: flex;
      padding: 15px 5px;
      transition: 0.4s;
      &:hover {
        background-color: #333333;
      }
      &:active {
        background-color: #ffffff50;
      }
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__main {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    overflow: hidden;
    padding: 15px 10px;
    &_search {
      display: grid;
      align-items: center;
      grid-template-columns: 20px 1fr 20px;
      grid-gap: 10px;
      background-color: #fff;
      padding: 10px 15px;
      color: #333333;
      border-radius: 100px;
      cursor: text;
      position: sticky;
      &-icon {
        line-height: 1;
        transition: 0.2s;
        svg {
          width: 20px;
          height: 20px;
          cursor: text;
        }
      }
      &-erase {
        display: flex;
        align-items: center;
      }
      &-input {
        border: none;
        width: 100%;
      }
    }
    &_list {
      display: grid;
      grid-auto-rows: 80px;
      margin-top: 20px;
      padding: 0 0px 20px 10px;
      overflow: auto;
      height: 100%;
      @media (max-width: 700px) {
        & {
          padding: 0px 0px 20px 0px;
        }
      }
    }
    &_item {
      display: grid;
      grid-template-columns: 80px 1fr;
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 10px 0;
      grid-template-areas:
        "cover name"
        "cover author";
      transition: 0.3s;
      &:hover {
        background-color: #ffffff50;
        cursor: pointer;
      }
      &_cover {
        grid-area: cover;
        padding: 10px;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      &_name {
        grid-area: name;
        align-self: end;
        padding: 0 5px;
        @include line_max(1);
        font-size: 1rem;
      }
      &_author {
        grid-area: author;
        align-self: start;
        padding: 0 5px;
        @include line_max(1);
        font-size: 0.8rem;
        letter-spacing: 0.8px;
      }
    }
  }
  .themes {
    padding: 15px 10px;
    display: grid;
    grid-template-rows: 50px 1fr;
    input[type="range"] {
      width: 100%;
      height: 4px;
      margin-left: 10px;
      border: none;
      border-radius: 100px;
      background-color: #000;
      background-image: linear-gradient(#fff, #fff);
      background-repeat: no-repeat;
      cursor: pointer;
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.2s;
        background-color: #fff;
      }

      &::-ms-thumb {
        -webkit-appearance: none;
        width: 20;
        height: 20;
        border-radius: 50%;
        cursor: pointer;
        opacity: 0;
        transition: all 0.1s;
        background-color: #ffffff;
      }

      &::-webkit-slider-thumb:hover {
        background-color: #fff;
      }

      &:hover::-webkit-slider-thumb {
        width: 20px;
        height: 20px;
      }
    }
    &__slider {
      display: flex;
      align-items: center;
    }
    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 130px;
    }
    &__item {
      width: 100%;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px 10px;
      transition: 0.3s;
      &_name {
        margin-bottom: 5px;
        // Ограничение количества строк. Количество строк указывать в line-clamp и -webkit-line-clamp //
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-clamp: 1;
        -webkit-line-clamp: 1;
      }
      &_preview {
        width: 100%;
        object-fit: cover;
      }
      &:hover {
        background-color: #ffffff50;
      }
    }
  }
}
