* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

body {
	font-size: 16px;
	min-width: 320px;
	font-family: Arial, sans-serif;
	width: 100%;
	min-height: 100vh;
	position: relative;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

.content {
	display: grid;
	transition: 0.4s ease-in-out;
	grid-template-columns: 0px 1fr;
}

.content-burger {
	grid-template-columns: 400px 1fr;
}

@media (max-width: 700px) {
	.content {
		grid-template-columns: 1fr;
	}

	.content-burger {
		grid-template-columns: 1fr;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

ul {
	list-style: none;
}

ul,
ol {
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
}

input,
textarea,
select {
	outline: none;
	border: 1px solid gray;
	appearance: none;
	background-color: transparent;
	font: inherit;
	color: inherit;
}

button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
}

abbr {
	text-decoration: none;
}

img,
fieldset {
	border: 0;
}

img {
	max-width: 100%;
}

::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #4d4d4d;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #636363;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #222222;
}